---
layout: base
---
<main class="site-main">
  <div class="container-fluid align-items-stretch h-100 d-flex">
    <div class="row" id="mainRow">
      <div class="col-12 col-lg-7 d-flex flex-column" id="coverColumn">
      {% include components/site-cover.html %}
      </div>
      <div class="col-12 col-lg-5 offset-lg-7 d-flex flex-column">
        <div id="mainContent" class="flex-grow-1 d-flex flex-column">
          {% include components/back-to-top.html %}
          {% include components/site-tagline.html %}
          <div class="contact-info">
            <div class="row">
              <div class="col-12 col-xxl-7">
              {% include components/section-service.html %}
              </div>
              <div class="col-12 col-xxl-5 d-flex flex-column">
              {% include components/section-contact.html %}
              {% include components/back-to-top.html %}
              {% include components/section-copyright.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
