@font-face {
  font-family: 'SeivaVariable';
  src: url('../fonts/SeivaVariable-Roman.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'SeivaVariable';
  src: url('../fonts/SeivaVariable-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'SeivaDisplay';
  src: url('../fonts/SeivaDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SeivaDisplay';
  src: url('../fonts/SeivaDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SeivaDisplay';
  src: url('../fonts/SeivaDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Seiva';
  src: url('../fonts/SeivaDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
