---
---

// Variables
@import 'variables/colors';
@import 'variables/bootstrap__variables';
// Mixins
@import 'mixins/bootstrap__breakpoints';
@import 'mixins/wrapper-states';
// Basic Styles
@import 'base/fonts';
@import 'base/unclassed';
@import 'base/bootstrap-reset';
// components
@import 'components/contact-info';
@import 'components/contact-card';
@import 'components/section-service';
@import 'components/section-contact';
@import 'components/site-tagline';
@import 'components/next-section';
@import 'components/back-to-top';
@import 'components/site-cover';
@import 'components/site-main';
@import 'components/section-copyright';

#mainRow {
  position: relative;
  width: 100%;
}

#mainContent {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
}
