---
---

@import 'fonts';
@import 'variables/colors';
@import 'variables/breakpoints';

@import 'mixins/breakpoints';
@mixin wrapper-ready {
  #wrapper {
    &.ready {
      @content;
    }
  }
}

@import 'unclassed';
@import 'bootstrap-reset';

#mainRow {
  position: relative;
  width: 100%;
}

#coverColumn {
  @include media-breakpoint-up("lg") {
    position: fixed;
    width: calc(55% - 12px);
    height: calc(100% - 80px);
    top: 40px;
  }
}

#mainContent {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
}

// Componentes customizados
@import 'components/contact-info';
@import 'components/contact-card';
@import 'components/section-service';
@import 'components/section-contact';
@import 'components/site-tagline';
@import 'components/next-section';
@import 'components/back-to-top';
@import 'components/site-cover';
@import 'components/site-main';
@import 'components/section-copyright';
