---
---

@import 'fonts';
@import 'variables/colors';
@import 'variables/breakpoints';
@import 'mixins/breakpoints';

html {
    height: 100%;
}

* {
    font-family: 'SeivaVariable', sans-serif;
}

body {
    height: 100%;
    background-color: white;
    color: $deep-blue;
}

.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
    @include media-breakpoint-up("lg") {
      padding-left: 40px;
      padding-right: 40px;
    }
}

// Componentes customizados
@import 'components/contact-info';
@import 'components/contact-card';

#mainRow {
  position: relative;
  width: 100%;
}

#coverColumn {
  @include media-breakpoint-up("lg") {
    position: fixed;
    width: calc(55% - 12px);
    height: calc(100% - 80px);
    top: 40px;
  }
}

#mainContent {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
}

.section-service {
  margin-top: 32px;
  padding-bottom: 24px;
  @include media-breakpoint-up("lg") {
    padding-bottom: 0;
  }
}

.section-contact {
  margin-top: 32px;
  padding-bottom: 24px;
  @include media-breakpoint-up("lg") {
    padding-bottom: 24px;
  }
}

.contact-links {
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 0;
    &__item {
      list-style-type: none;
      margin-bottom: 16px;
      position: relative;
      svg {
          margin-right: 8px;
      }
      a {
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 32px;
        background-color: $lighter-blue;
        padding-left: 24px;
        width: 100%;
        display: block;
        font-variation-settings: 'wght' 550;
        font-size: 26px;
        line-height: 32px;
        @include media-breakpoint-up("hd") {
          font-size: 30px;
          line-height: 32px;
        }
      }
      &.lighter-blue {
        a {
          background-color: $lighter-blue;
        }
      }
      &.light-green {
        a {
          background-color: $light-green;
        }
      }
      &.light-pink {
        a {
          background-color: $light-pink;
        }
      }
      &.light-orange {
        a {
          background-color: $light-orange;
        }
      }
      a:hover {
        .contact-links__arrow {
          background-color: $lighter-blue;
        }
      }
      a:active {
        .contact-links__arrow {
          background-color: $red;
          svg {
            .angle {
              stroke: $lighter-blue;
            }
            .dash {
              fill: $lighter-blue;
            }
          }
        }
      }
    }
    &__arrow {
      display: inline-block;
      width: 44px;
      height: 44px;
      border: 2px solid $red;
      border-radius: 50%;
      position: absolute;
      right: 8px;
      bottom: 8px;
      svg {
        margin-right: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
}

.site-tagline {
  margin-top: 24px;
  font-style: italic;
  &__text {
    font-size: 30px;
    line-height: 32px;
    font-style: italic;
    font-variation-settings: 'wght' 250;
    margin-bottom: 32px;
    @include media-breakpoint-up("lg") {
      font-size: 38px;
      line-height: 48px;
    }
    @include media-breakpoint-up("hd") {
      font-size: 44px;
      line-height: 100%;
    }
  }
  @include media-breakpoint-up("lg") {
    margin-top: 0;
  }
}

.next-section {
  position: absolute;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  bottom: 0;
  &__button {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid $red;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    svg {
      pointer-events: none;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      transform: translate(-50%, -50%);
    }
  }
}

.back-to-top {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  bottom: 0;
  &__button {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid $red;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    svg {
      pointer-events: none;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      transform: translate(-50%, -50%)  rotate(-180deg);
    }
  }
}

.map-links {
    padding-left: 0;
    margin-bottom: 0;
}

.map-link {
    list-style-type: none;
    margin-bottom: 8px;
    background-color: $lighter-blue;
    border-radius: 32px;
    padding: 16px;
    margin-bottom: 0;
    margin-top: 32px;
    position: relative;
    a {
      &:hover {
        .map-link__arrow {
          background-color: $lighter-blue;
        }
      }
      &:active {
        .map-link__arrow {
          background-color: $red;
          svg {
            .angle {
              stroke: $lighter-blue;
            }
            .dash {
              fill: $lighter-blue;
            }
          }
        }
      }
    }
    &__content {
      p {
        font-variation-settings: 'wght' 250;
        font-size: 26px;
        line-height: 32px;
        @include media-breakpoint-up("hd") {
          font-size: 30px;
          line-height: 32px;
        }
      }
      b {
        font-variation-settings: 'wght' 550;
      }
    }
    &__action {
      margin-bottom: 0;
      position: relative;
      line-height: 44px;
      color: $red;
      font-variation-settings: 'wght' 550;
      font-size: 26px;
      line-height: 32px;
      @include media-breakpoint-up("hd") {
        font-size: 30px;
        line-height: 32px;
      }
    }
    &__arrow {
      display: inline-block;
      width: 44px;
      height: 44px;
      border: 2px solid $red;
      border-radius: 50%;
      position: absolute;
      right: 8px;
      bottom: 8px;
      svg {
        margin-right: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
}

.site-cover {
  position: relative;
  border-radius: 0;
  overflow: visible;
  min-height: 100vh;
  position: relative;
  @include media-breakpoint-up("lg") {
    border-radius: 32px;
    overflow: hidden;
    min-height: 0;
  }
  &__logo {
    position: relative;
    margin-bottom: 0;
    svg {
      width: 100%;
    }
  }
  &__background {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0;
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    transform-origin: center;
    transform: translateX(-50%) scale(1.05);
    transition: transform .25s ease .25s;
    @include media-breakpoint-up("lg") {
      width: 100%;
    }
  }
}

.site-main {
    padding-bottom: 24px;
    padding-top: 0;
    min-height: 100%;
    opacity: 0;
    transition: opacity .25s ease .25s;
    @include media-breakpoint-up("lg") {
      // padding-bottom: 40px;
      // padding-top: 40px;
    }
}

.link {
    text-decoration: none;
    color: $deep-blue;
    &:hover {
      color: $deep-blue;
    //     text-decoration: underline;
    }
}

.section-copyright {
  padding-bottom: 40px;
  padding-top: 40px;
  @include media-breakpoint-up("lg") {
    padding-bottom: 0;
    padding-top: 0;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: $light-blue;
    margin-bottom: 0;
    @include media-breakpoint-up("lg") {
      font-size: 12px;
      line-height: 16px;
    }
    a {
      text-decoration: underline;
      color: $light-blue;
    }
  }
}

#wrapper {
  &.ready {
    .site-main {
      opacity: 1;
    }
    .site-cover {
      &__background {
        transform: translateX(-50%) scale(1);
      }
    }
  }
}
