<div class="site-cover flex-grow-1 d-flex flex-column justify-content-center">
  <div class="site-cover__background" style="background-image: url('/assets/img/background.svg')"></div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <figure class="site-cover__logo">
        <img src="/assets/img/logo.svg" alt="">
      </figure>
    </div>
  </div>
  <div class="next-section d-lg-none">
    <span class="next-section__button" data-anchor-target="#mainContent">
      {% include svg/arrow-down.svg %}
    </span>
  </div>
</div>
